(
    next_path: Some("boiling-over"),
    prev_path: Some("atlanta-loop"),
    happened_on: Some("2016-10-30T13:09:51-06:00"),
    as_of: 1588971982,
    photo_count: 40,
    photo_locations: [
        (-115.92082, 43.49984),
        (-115.917366, 43.501022),
        (-115.91137, 43.50361),
        (-115.90855, 43.49459),
        (-115.90219, 43.496357),
        (-115.88474, 43.491234),
        (-115.86102, 43.48443),
        (-115.85445, 43.485806),
        (-115.85445, 43.485806),
        (-115.85444, 43.48578),
        (-115.85148, 43.485863),
        (-115.84225, 43.485363),
        (-115.83305, 43.48409),
        (-115.82277, 43.482937),
        (-115.811325, 43.518192),
        (-115.80399, 43.517323),
        (-115.79448, 43.508076),
        (-115.77191, 43.48338),
        (-115.76775, 43.47167),
        (-115.767365, 43.471672),
        (-115.76735, 43.471706),
        (-115.76727, 43.475483),
        (-115.76638, 43.48961),
        (-115.76263, 43.46952),
        (-115.760704, 43.465755),
        (-115.76059, 43.468132),
        (-115.76032, 43.465164),
        (-115.755486, 43.4625),
        (-115.75498, 43.46232),
        (-115.75418, 43.459568),
        (-115.75401, 43.459522),
        (-115.75235, 43.459225),
        (-115.75235, 43.459244),
        (-115.75227, 43.45925),
        (-115.75223, 43.45917),
        (-115.75219, 43.459126),
        (-115.752014, 43.459206),
        (-115.751884, 43.45916),
        (-115.75184, 43.459225),
        (-115.751755, 43.459305),
    ],
    cover_photo: Some((
        index: 20,
        size: (
            large: (width:2048,height:1304,name:"020_l.webp",),
            medium: (width:1024,height:652,name:"020_m.webp",),
            small: (width:320,height:204,name:"020_s.webp",),
            thumb: (width:128,height:128,name:"020_t.webp",),
        ),
    )),
    tags: {
        "cave": (
            name: "Cave",
            photos: [29,],
        ),
        "cliff": (
            name: "Cliff",
            photos: [21,25,],
        ),
        "clouds": (
            name: "Clouds",
            photos: [31,32,33,35,36,37,38,40,],
        ),
        "cow": (
            name: "Cow",
            photos: [40,],
        ),
        "creek": (
            name: "Creek",
            photos: [8,13,14,16,23,24,28,29,30,],
        ),
        "dirt-path": (
            name: "Dirt Path",
            photos: [2,3,5,6,7,8,10,17,19,20,21,31,33,34,36,37,38,],
        ),
        "fence": (
            name: "Fence",
            photos: [39,],
        ),
        "fog": (
            name: "Fog",
            photos: [32,34,38,39,],
        ),
        "hill-climb": (
            name: "Hill Climb",
            photos: [7,],
        ),
        "ktm-250-xc": (
            name: "KTM 250 XC",
            photos: [1,2,6,9,12,15,19,22,36,],
        ),
        "ktm-500-xc-w": (
            name: "KTM 500 XC-W",
            photos: [1,6,9,12,20,22,],
        ),
        "leaves": (
            name: "Leaves",
            photos: [8,13,16,25,],
        ),
        "moss": (
            name: "Moss",
            photos: [13,14,23,],
        ),
        "motorcycle": (
            name: "Motorcycle",
            photos: [1,2,6,9,12,15,19,20,22,36,],
        ),
        "outcrop": (
            name: "Outcrop",
            photos: [18,32,34,37,],
        ),
        "path": (
            name: "Path",
            photos: [2,3,5,6,7,8,10,17,19,20,21,31,33,34,36,37,38,],
        ),
        "rain": (
            name: "Rain",
            photos: [22,30,31,],
        ),
        "reflection": (
            name: "Reflection",
            photos: [13,],
        ),
        "riding": (
            name: "Riding",
            photos: [2,19,],
        ),
        "taken-by-tony": (
            name: "Taken by Tony",
            photos: [35,],
        ),
        "walking": (
            name: "Walking",
            photos: [20,],
        ),
        "waterfall": (
            name: "Waterfall",
            photos: [27,28,30,],
        ),
        "willow-creek": (
            name: "Willow Creek",
            photos: [13,14,16,23,24,28,29,30,],
        ),
    },
)