(
    next_path: None,
    prev_path: None,
    happened_on: None,
    as_of: 1588971982,
    photo_count: 11,
    photo_locations: [
        (-117.10555, 46.70532),
        (-117.10555, 46.705326),
        (-116.21724, 45.7276),
        (-116.21434, 43.60243),
        (-116.1635, 43.6015),
        (-116.14939, 43.574387),
        (-116.11738, 44.912018),
        (-116.11737, 44.91201),
    ],
    cover_photo: Some((
        index: 1,
        size: (
            large: (width:2048,height:1363,name:"001_l.webp",),
            medium: (width:1024,height:682,name:"001_m.webp",),
            small: (width:320,height:213,name:"001_s.webp",),
            thumb: (width:128,height:128,name:"001_t.webp",),
        ),
    )),
    tags: {
        "algae": (
            name: "Algae",
            photos: [7,],
        ),
        "boisephotographer": (
            name: "#boisephotographer",
            photos: [10,],
        ),
        "climbing": (
            name: "Climbing",
            photos: [2,],
        ),
        "dock": (
            name: "Dock",
            photos: [10,],
        ),
        "dry-plant": (
            name: "Dry Plant",
            photos: [8,9,],
        ),
        "fire": (
            name: "Fire",
            photos: [1,3,],
        ),
        "flag": (
            name: "Flag",
            photos: [6,],
        ),
        "ice": (
            name: "Ice",
            photos: [11,],
        ),
        "lake": (
            name: "Lake",
            photos: [10,11,],
        ),
        "leaves": (
            name: "Leaves",
            photos: [7,],
        ),
        "mccallidaho": (
            name: "#mccallidaho",
            photos: [10,],
        ),
        "night": (
            name: "Night",
            photos: [1,3,],
        ),
        "park": (
            name: "Park",
            photos: [5,],
        ),
        "payette-lake": (
            name: "Payette Lake",
            photos: [10,11,],
        ),
        "photographing": (
            name: "Photographing",
            photos: [6,10,],
        ),
        "rumination": (
            name: "Rumination",
            photos: [2,4,5,6,7,8,9,],
        ),
        "snow": (
            name: "Snow",
            photos: [1,3,10,11,],
        ),
        "sunset": (
            name: "Sunset",
            photos: [10,11,],
        ),
        "waterfall": (
            name: "Waterfall",
            photos: [7,],
        ),
    },
)