(
    next_path: Some("danskin-clouds"),
    prev_path: Some("brother-ride-2008/cold-ride-home"),
    happened_on: Some("2013-10-05T11:00:13-06:00"),
    as_of: 1588971982,
    photo_count: 37,
    photo_locations: [
        (-115.79197, 43.831882),
        (-115.74146, 43.846516),
        (-115.703445, 43.8632),
        (-115.703354, 43.8634),
        (-115.66729, 43.87825),
        (-115.66728, 43.878235),
        (-115.6669, 43.87815),
        (-115.656166, 43.888317),
        (-115.65538, 43.88859),
        (-115.64942, 43.893078),
        (-115.62645, 43.814648),
        (-115.61395, 43.806355),
        (-115.61395, 43.80638),
        (-115.536514, 43.809166),
        (-115.53645, 43.809113),
        (-115.52635, 43.782146),
        (-115.481026, 43.95247),
        (-115.47918, 43.952095),
        (-115.4508, 43.767525),
        (-115.42344, 43.95188),
        (-115.407585, 43.724823),
        (-115.401535, 43.91497),
        (-115.28907, 43.689003),
        (-115.28905, 43.688854),
        (-115.28905, 43.688854),
        (-115.28905, 43.688854),
        (-115.289, 43.688686),
        (-115.288994, 43.68869),
        (-115.288994, 43.688866),
        (-115.275024, 43.73224),
        (-115.27086, 43.73098),
        (-115.232, 43.759766),
        (-115.232, 43.759766),
        (-115.21398, 43.77015),
        (-115.12721, 43.79938),
    ],
    cover_photo: Some((
        index: 10,
        size: (
            large: (width:2048,height:1602,name:"010_l.webp",),
            medium: (width:1024,height:801,name:"010_m.webp",),
            small: (width:320,height:250,name:"010_s.webp",),
            thumb: (width:128,height:128,name:"010_t.webp",),
        ),
    )),
    tags: {
        "aspen": (
            name: "Aspen",
            photos: [19,],
        ),
        "autumn": (
            name: "Autumn",
            photos: [19,],
        ),
        "bee-hive": (
            name: "Bee Hive",
            photos: [11,],
        ),
        "boise-river": (
            name: "Boise River",
            photos: [6,7,8,],
        ),
        "bridge": (
            name: "Bridge",
            photos: [6,],
        ),
        "church": (
            name: "Church",
            photos: [37,],
        ),
        "creek": (
            name: "Creek",
            photos: [4,5,18,],
        ),
        "dirt-path": (
            name: "Dirt Path",
            photos: [27,28,29,30,31,35,],
        ),
        "dirt-road": (
            name: "Dirt Road",
            photos: [6,9,10,11,15,19,22,23,24,],
        ),
        "downtown": (
            name: "Downtown",
            photos: [37,],
        ),
        "elk-creek": (
            name: "Elk Creek",
            photos: [18,],
        ),
        "fence": (
            name: "Fence",
            photos: [24,],
        ),
        "flag": (
            name: "Flag",
            photos: [13,],
        ),
        "greylock-mountain": (
            name: "Greylock Mountain",
            photos: [37,],
        ),
        "history": (
            name: "History",
            photos: [12,13,14,],
        ),
        "horse": (
            name: "Horse",
            photos: [12,],
        ),
        "ktm-500-xc-w": (
            name: "KTM 500 XC-W",
            photos: [1,11,27,],
        ),
        "map": (
            name: "Map",
            photos: [2,],
        ),
        "middle-fork-of-the-boise": (
            name: "Middle Fork of the Boise",
            photos: [8,],
        ),
        "motorcycle": (
            name: "Motorcycle",
            photos: [1,10,11,27,29,30,33,],
        ),
        "mountain": (
            name: "Mountain",
            photos: [37,],
        ),
        "north-fork-of-the-boise": (
            name: "North Fork of the Boise",
            photos: [6,7,],
        ),
        "outcrop": (
            name: "Outcrop",
            photos: [34,],
        ),
        "parking-lot": (
            name: "Parking Lot",
            photos: [1,],
        ),
        "path": (
            name: "Path",
            photos: [27,28,29,30,31,35,],
        ),
        "power-line": (
            name: "Power Line",
            photos: [23,37,],
        ),
        "rabbit-creek": (
            name: "Rabbit Creek",
            photos: [4,5,],
        ),
        "reflection": (
            name: "Reflection",
            photos: [5,],
        ),
        "river": (
            name: "River",
            photos: [6,7,8,],
        ),
        "screenshot": (
            name: "Screenshot",
            photos: [2,],
        ),
        "sign": (
            name: "Sign",
            photos: [11,13,17,23,24,37,],
        ),
        "snow": (
            name: "Snow",
            photos: [20,21,23,],
        ),
        "suzuki-dr-z-400s": (
            name: "Suzuki DR-Z 400S",
            photos: [10,11,29,30,33,],
        ),
        "thanksgiving": (
            name: "Thanksgiving",
            photos: [37,],
        ),
        "tree": (
            name: "Tree",
            photos: [19,],
        ),
        "waterfall": (
            name: "Waterfall",
            photos: [18,],
        ),
    },
)